body {
  background-color: #fbe9e9;
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: #dddddd;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: yellow;
}
.well-body {
  font-size: 26px;

}

.bg{
  background-image: url(../img/nk_flag.png);
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg_1{
  background-image: url(../img/nk_flag.png);
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.heading_vacation {
  font-size: 38px;
  color: white;
  font-style: normal;


}
